@tailwind base;
@tailwind components;
@tailwind utilities;

body{

    touch-action:none;
    
    }


.thin-scrollbar {
        /* width */
        ::-webkit-scrollbar {
            width: 5px;
            height: 5px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
        background: rgb(255 255 255);
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
        background: #E7E5E4;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
        background: #D6D3D1;
        }

    }

    :is(.dark) :is(.thin-scrollbar) {

        /* width */
        ::-webkit-scrollbar {
            width: 5px;
            height: 5px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
        opacity: 0;
        background: rgb(41 37 36);
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
        background: #44403c;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
        background: #57534e;
        }
    }
